.input {
    width: 100%;
    height: var(--input-height);
    padding-inline: 12px var(--input-height);
    color: var(--color-silver);
    background-color: var(--color-light-20);
    border: none;
    border-radius: var(--border-radius-large);

    &::placeholder {
        color: var(--color-input-placeholder);
        font-size: 14px;
    }

    &:focus {
        outline-color: var(--color-accent);
    }
}